.main {
  overflow-x: hidden;
  max-width: 2000px;
  &__hero {
    padding: 20px;
    // background-color: #8ec3b0;
    background-color: tomato;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px 5%;
    @include large-screen {
      flex-direction: column-reverse;
      gap: 50px 0px;
    }
    @include medium-screen-down {
      flex-direction: column-reverse;
      gap: 50px 0px;
    }
    &__content {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 40px 0px;
      @include large-screen {
        width: 100%;
      }
      @include medium-screen-down {
        width: 100%;
      }
      &--title {
        display: flex;
        flex-direction: column;
        gap: 20px 0px;
        h3 {
          color: white;
          font-size: 33px;
          font-family: 'Roboto', sans-serif;
          font-weight: bold;
          text-transform: capitalize;
          @include large-screen {
            font-size: 40px;
            text-align: center;
          }
          @include medium-screen-down {
            text-align: center;
            font-size: 40px;
          }
          @include small-screen {
            text-align: center;
            font-size: 25px;
          }
        }
        p {
          font-size: 20px;
          line-height: 1.5;
          font-weight: 500;
          letter-spacing: 1px;
          padding-left: 5px;
          @include large-screen {
            text-align: center;
          }
        }
      }

      &--btn {
        @include large-screen {
          margin: 0 auto;
          padding: 15px 90px;
        }
        @include small-screen {
          margin: 0 auto;
          padding: 15px 90px;
        }
        @include medium-screen {
          margin: 0 auto;
          padding: 15px 150px;
        }
        background-color: white;
        border-radius: 30px;
        padding: 15px 25px;
        color: black;
        font-weight: 500;
        font-size: 18px;
        animation: heroBtn 2s infinite;
        &:hover {
          animation-play-state: paused;
        }
      }
    }
    &__image {
      perspective: 400px;
      @include large-screen {
        width: 90%;
      }
      @include medium-screen-down {
        width: 100%;
      }
      width: 55%;
      height: 400px;
      // border-radius: 68% 32% 75% 25% / 33% 65% 35% 67%;
      // border-radius: 3% 97% 10% 90% / 75% 28% 72% 25%;
      // border-radius: 48% 52% 49% 51% / 31% 28% 72% 69%;
      border-radius: 74% 26% 63% 37% / 34% 56% 44% 66%;
      // background-color: #def5e595;
      background-color: white;
      display: flex;
      align-items: center;
      position: relative;
      scroll-snap-type: x mandatory;
      img {
        scroll-snap-align: start;
        width: 100%;
        height: auto;
        transform: scale(1);
        animation: scroll 5s 3;
        position: absolute;
        left: 10px;
        @include extra-large-screen {
          transform: scale(1.2);
        }
        @include small-screen {
          transform: translateZ(100px);
          left: -5px;
        }
        @include medium-screen {
          transform: translateZ(90px);
        }
      }
    }
  }
}

.animation {
}

@keyframes heroBtn {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

// @keyframes scroll {
//   to {
//     transform: translateX(-100%);
//   }
// }
