.main {
  overflow-x: hidden;
  max-width: 1800px;
  &__hero {
    padding: 20px;
    background-color: #ff6500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px 5%;
    @include large-screen {
      flex-direction: column-reverse;
      gap: 210px 0px;
    }
    @include medium-screen-down {
      flex-direction: column-reverse;
      gap: 90px 0px;
    }
    &__content {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 40px 0px;
      @include large-screen {
        width: 100%;
      }
      @include medium-screen-down {
        width: 100%;
      }

      &--title {
        display: flex;
        flex-direction: column;
        gap: 20px 0px;
        h3 {
          color: white;
          font-size: 33px;
          font-family: 'Roboto', sans-serif;
          font-weight: bold;
          text-transform: capitalize;
          @include large-screen {
            font-size: 40px;
            text-align: center;
          }
          @include medium-screen-down {
            text-align: center;
            font-size: 40px;
          }
          @include small-screen {
            text-align: center;
            font-size: 25px;
          }
        }
        p {
          font-size: 20px;
          line-height: 1.5;
          font-weight: 500;
          letter-spacing: 1px;
          padding-left: 5px;
          font-weight: 700;
          @include large-screen {
            text-align: center;
          }
        }
      }

      &--btn {
        @include large-screen {
          margin: 0 auto;
          padding: 15px 90px;
        }
        @include small-screen {
          margin: 0 auto;
          padding: 15px 90px;
        }
        @include medium-screen {
          margin: 0 auto;
          padding: 15px 150px;
        }
        background-color: white;
        border-radius: 30px;
        padding: 15px 25px;
        color: black;
        font-weight: 500;
        font-size: 18px;
        animation: heroBtn 2s infinite;
        &:hover {
          animation-play-state: paused;
        }
      }
    }
    &__image {
      perspective: 400px;
      @include large-screen {
        width: 90%;
      }
      @include medium-screen-down {
        width: 100%;
      }
      width: 55%;
      height: 400px;
      display: flex;
      align-items: center;
      position: relative;
      scroll-snap-type: x mandatory;
      position: relative;
      z-index: 1;
      &::after {
        @include extra-large-screen {
          transform: rotateX(80deg) translate3d(20px, -1px, -68px);
        }
        @include large-screen {
          transform: rotateX(80deg) translate3d(17px, 8px, -137px);
        }
        @include medium-screen {
          transform: rotateX(80deg) translate3d(26px, -2px, -96px);
        }
        @include small-screen {
          transform: rotateX(80deg) translate3d(14px, 1px, -89px);
        }
        z-index: -1;
        content: '';
        position: absolute;
        width: 95%;
        height: 95%;
        background-color: white;
        transform: rotateX(80deg) translate3d(0, 0, -70px);
        border-radius: 50%;
      }
      img {
        scroll-snap-align: start;
        width: 100%;
        height: auto;
        animation: scroll 5s 3;
        position: absolute;
        left: 0px;
        @include extra-large-screen {
          transform: scale(1.1);
        }
        @include large-screen {
          transform: scale(1.1) translate3d(-15px, 47px, 42px);
        }
        @include medium-screen {
          transform: translateZ(90px);
        }
        @include small-screen {
          transform: scale(1.1) translate3d(-15px, 47px, 42px);
        }
      }
    }
  }
}

.animation {
}

@keyframes heroBtn {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

// @keyframes scroll {
//   to {
//     transform: translateX(-100%);
//   }
// }
