.main {
  &__offers {
    display: flex;
    flex-direction: column;
    gap: 50px 0px;
    &__title {
      background: url(../img/our\ offera.jpeg) no-repeat fixed 50% / cover;
      @include small-screen {
        background-attachment: scroll;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px 0px;
      height: 400px;
      h1 {
        font-size: 120px;
        color: #ff6500;
        @include small-screen {
          font-size: 50px;
        }
        span {
          color: #0b192c;
        }
      }
      p {
        color: white;
        font-size: 25px;
        text-align: center;
        font-weight: 600;
        @include small-screen {
          font-size: 16px;
        }
      }
    }
    &__container {
      display: flex;
      flex-direction: column;
      gap: 50px 0px;
      width: 98%;
      @include ultra-large-screen {
        width: 90%;
      }
      margin: 0 auto;
      &--links {
        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0px 40px;
          @include small-screen {
            gap: 0px 10px;
          }
          li {
            background-color: #ff6500;
            padding: 10px 20px;
            border-radius: 20px;
            color: white;
            @include small-screen {
              font-size: 13px;
            }
            &:hover {
              background-color: #0b192c;
              transition: margin-top, background-color 0.5s;
              margin-top: -5px;
              cursor: pointer;
            }
          }
        }
      }
      .boxSpecial {
        position: relative;
        span {
          position: absolute;
          width: 100px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;
          top: -5px;
          z-index: 10;
          right: -5px;
          font-size: 12px;
          text-align: center;
          color: #ff6500;
          font-weight: 600;
          border: #0b192c 3px solid;
          border-top: solid 1px #0b192c;
          border-right: solid 1px#0b192c;
          border-radius: 0px 10px 0px 10px;
        }
      }

      .boxLatest {
        &::after {
          content: '40% descound';
          position: absolute;
          width: 100px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;
          top: -5px;
          z-index: 10;
          right: -5px;
          font-size: 12px;
          text-align: center;
          color: #ff6500;
          font-weight: 600;
          border: #0b192c 3px solid;
          border-top: solid 1px #0b192c;
          border-right: solid 1px#0b192c;
          border-radius: 0px 10px 0px 10px;
        }
        position: relative;
      }
      &--boxs {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 20px;
        gap: 10px;
        @include large-screen {
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
          padding: 0;
        }
        @include medium-screen {
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
          padding: 0;
        }
        @include small-screen {
          scroll-snap-type: x mandatory;
          // align-items: center;
          display: flex;
          gap: 20px;
          padding: 0;
          overflow: scroll;
        }

        &--box {
          @include small-screen {
            scroll-snap-align: start;
            flex-basis: 100%;
            flex-shrink: 0;
            grid-template-rows: none;
            height: 100%;
          }
          background-image: radial-gradient(
            circle,
            rgba(68, 68, 68, 1) 0%,
            rgba(0, 0, 0, 1) 100%
          );
          border: 5px solid #0b192c;
          padding: 15px;
          border-radius: 15px;
          background-color: white;
          display: grid;
          grid-template-rows: auto 1fr auto;
          &--images {
            display: flex;
            justify-content: center;
            align-items: center;
            @include small-screen {
              height: 274px;
            }
            img {
              width: 100%;
            }
          }
          &--prise {
            display: flex;
            flex-direction: column;
            align-items: start;
            h1 {
              color: #ff6500;
              font-size: 30px;
            }
            p {
              color: white;
            }
          }
          &--details {
            display: flex;
            flex-direction: column;
            gap: 10px 0px;
            h4 {
              font-size: 40px;
              color: white;
            }
            a {
              padding: 10px;
              border-radius: 10px;
              color: white;
              font-weight: 700;
              text-align: center;
              background-color: #ff6500;
              &:hover {
                background-color: white;
                color: #0b192c;
                font-weight: 700;
                transition: background-color 0.5s, color 0.5s;
              }
            }
          }
        }
      }
    }
    &__slider {
      width: 100vw;
      margin: 0 auto;
      display: grid;
      grid-template-rows: auto 1fr;
      gap: 70px 0px;
      &--title {
        display: flex;
        flex-direction: column;
        gap: 20px 0px;
        text-align: center;
        h1 {
          @include large-screen {
            font-size: 50px;
          }
          @include medium-screen {
            font-size: 50px;
          }
          @include small-screen {
            font-size: 30px;
          }
          font-size: 100px;
          text-transform: capitalize;
          color: #ff6500;
          span {
            color: #0b192c;
            display: inline-block;
          }
        }
        p {
          font-size: 20px;
          font-weight: 600;
          color: #0b192c;
          @include large-screen {
            font-size: 16px;
          }

          @include medium-screen {
            font-size: 16px;
          }
          @include small-screen {
            font-size: 16px;
          }
        }
      }
      &--boxs {
        position: relative;
        .slide_offer {
          z-index: 10;
          position: absolute;
          top: 0px;
          right: 0px;
          background-color: #ff6500;
          border-radius: 0px 0px 0px 25px;
          width: 40%;
          height: 20px;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          @include extra-large-screen {
            font-size: 20px;
            width: 20%;
            height: 40px;
          }
          @include ultra-large-screen {
            font-size: 25px;
            width: 20%;
            height: 40px;
          }
          @include large-screen {
            font-size: 16px;
            width: 20%;
            height: 40px;
          }
          @include small-screen {
            font-size: 10px;
          }
        }
        display: flex;
        overflow-x: hidden;
        scroll-snap-type: x mandatory;
        &--box {
          flex-basis: 100%;
          flex-shrink: 0;
          scroll-snap-align: start;
          border: 1px solid #0b192c;
          &--info {
            display: flex;
            flex-direction: column;
            padding: 20px;
            width: 100%;
            gap: 40px 0px;
            background-color: #0b192c;
            h1 {
              font-size: 45px;
              color: white;
              @include large-screen {
                font-size: 30px;
              }
              @include medium-screen {
                font-size: 30px;
              }
              @include small-screen {
                font-size: 20px;
              }
            }
            ul {
              display: flex;
              flex-direction: column;
              gap: 20px 0px;
              li {
                span {
                  color: #ff6500;
                  font-weight: 700;
                  font-size: 20px;
                  @include large-screen {
                    font-size: 18px;
                  }
                  @include medium-screen {
                    font-size: 16px;
                  }
                  @include small-screen {
                    font-size: 14px;
                  }
                }
                @include large-screen {
                  font-size: 16px;
                }
                @include medium-screen {
                  font-size: 16px;
                }
                @include small-screen {
                  font-size: 14px;
                }
                color: white;
                position: relative;
                padding-left: 40px;
                font-size: 18px;
                &::before {
                  @include large-screen {
                    font-size: 18px;
                  }
                  @include medium-screen {
                    font-size: 18px;
                  }
                  @include small-screen {
                    font-size: 14px;
                  }
                  content: 'L';
                  position: absolute;
                  width: 20px;
                  height: 20px;
                  text-align: center;
                  transform: rotateY(177deg) rotate(-27deg);
                  left: 5px;
                  color: #ff6500;
                }
              }
            }
            a {
              @include small-screen {
                align-self: center;
                padding: 10px 110px;
              }
              @include medium-screen {
                align-self: center;
                padding: 10px 180px;
              }
              background-color: white;
              align-self: flex-end;
              padding: 10px 180px;
              border-radius: 20px;
              color: #ff6500;
              font-size: 25px;
              font-weight: 500;
              text-transform: capitalize;
              &:hover {
                outline: #ff6500 2px solid;
                background-color: transparent;
                color: white;
                transition: all 0.3s;
              }
            }
          }
        }
      }
    }
  }
}

.limitAnimation {
  animation: limitAnimation 0.5s 1;
}

@keyframes limitAnimation {
  0% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
