.main {
  &__services {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px 0px;
    &__title {
      background: url(../img/services.jpg) no-repeat fixed 50% / cover;
      padding-left: 10px;
      width: 90%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-self: center;
      height: 40%;
      background-color: #ff6500;
      h1 {
        @include large-screen {
          font-size: 100px;
        }
        @include medium-screen {
          font-size: 80px;
        }

        @include small-screen {
          font-size: 40px;
        }
        text-align: center;
        font-size: 100px;
        font-weight: 700;
        color: #ff6500;
        span {
          color: #0b192c;
        }
      }
      p {
        @include small-screen {
          font-size: 16px;
        }
        color: white;
        font-weight: 600;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        padding: 10px;
        margin-right: 10px;
      }
    }
    &__primary {
      width: 90%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin: 0 auto;
      gap: 0px 10px;
      @include large-screen {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
      }
      @include medium-screen-down {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
      }
      &--box {
        background-color: #0b192c;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 10px #ff6500 inset;
        border-radius: 20px;
        &--image {
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          border-radius: 20px 20px 0px 0px;
          img {
            width: 100%;
            &:hover {
              scale: 1.2;
            }
          }
        }
        &--content {
          padding: 15px;
          h4 {
            font-size: 35px;
            color: #ff6500;
          }
          p {
            color: white;
            line-height: 2;
            font-weight: 600;
          }
        }
      }
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
::-webkit-scrollbar {
  // width: 0;
  height: 0;
}
